@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  background: #141414;
  color: #ffffff;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.75rem;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 71%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  display: flex;
  z-index: 10;
}

.title {
  text-decoration: none;
}
